<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>img</title>
  </head>
  <body>
    <form class="" action="/home/imghandle" method="post" enctype="multipart/form-data">
      <input type="file" name="imgg" accept="image/*" value="">
      <input type="date" name="date" value="">
      <button type="submit" name="submit">button</button>
    </form>
    <form class="" action="/home/articles" method="post">
      <div class="col-sm-6">
    <div class="checkbox">
        <label><input name="food" type="checkbox" value="dairy">Dairy</label>
    </div>
    <div class="checkbox">
        <label><input name="food" type="checkbox" value="meat">Meat</label>
    </div>
    <div class="checkbox">
        <label><input name="food" type="checkbox" value="fish">Fish</label>
    </div>
</div>
      <button type="submit" name="button">submit sheck</button>
    </form>
  </body>
</html>
